body {
  background-color: #707070;
}
.container {
  display: flex;
  flex-flow: column;
  background-color: #707070;
  padding-right: 4px;
  width: 55vw;
  height: 80vh;
  z-index: 10;
  margin: auto;
  border: 1px solid seashell;
  margin-top: 6%;
  border-radius: 30px;
}

.audio-tracks {
  display: flex;
  flex-flow: row-reverse;
  width: 100%;
  height: 90%;
  border-radius: 25px;
  background-color: seashell;
  border: 2px solid seashell;
}

.playlist {
  width: 50%;
  height: 80%;
  overflow-y: auto;
  margin: auto;
  display: flex;
  flex-flow: column;
}
.title {
  width: 75%;
  padding-left: 20px;
  text-align: left;
  padding-bottom: 10px;
  font-weight: 600;
  margin: auto;
  font-size: 0.9rem;
}

.now-playing {
  width: 35%;
  height: 80%;
  margin: auto;
}
